[Unit]
Description=Sensor detecting and distribution service

[Service]
WorkingDirectory=/home/pi/bin/DepotKontroll/
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/home/pi/bin/DepotKontroll/.env
ExecStart=/usr/local/lib/sensor/venv/bin/python3 /usr/local/lib/sensor/readings.py

Restart=on-failure

[Install]
WantedBy=default.target

