[Unit]
Description=Sensor detecting and distribution service

[Service]
WorkingDirectory=/home/pi/DepotKontroll/
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/home/pi/DepotKontroll/.env
ExecStart=/home/pi/DepotKontroll/python3 /home/pi/DepotKontroll/readings.py

Restart=on-failure

[Install]
WantedBy=default.target
